RewriteEngine On
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.msixhero\.net$
RewriteRule (.*)$ https://msixhero.net/%{REQUEST_URI} [NE,L,R=301]

RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^www\.msixhero\.net$
RewriteRule (.*)$ https://msixhero.net/%{REQUEST_URI} [NE,L,R=301]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress