<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="MSIXHeroDEV"
    Publisher="E=marcin@otorowski.com, CN=Marcin Otorowski, O=Marcin Otorowski, S=zachodniopomorskie, C=PL"
    Version="2.1.0.0" />

  <Properties>
    <DisplayName>MSIX Hero</DisplayName>
    <PublisherDisplayName>Marcin Otorowski</PublisherDisplayName>
    <Description>Your companion and ultimate toolkit to the MSIX world</Description>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="MSIXHero"
      Executable="MSIXHero.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="MSIX Hero"
        Description="Your companion and ultimate toolkit to the MSIX world" 
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
    <!-- <Application Id="MSIXHeroCLI"
      Executable="MSIXHeroCLI.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="MSIX Hero"
        Description="Command Line Interface for MSIX Hero" 
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
    </Application> -->
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
	<rescap:Capability Name="allowElevation" />
	<rescap:Capability Name="packageQuery" />
	<rescap:Capability Name="packageManagement" />
  </Capabilities>
</Package>
