RewriteEngine On
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.msixhero\.net$
RewriteRule (.*)$ https://msixhero.net/%{REQUEST_URI} [NE,L,R=301]

RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^www\.msixhero\.net$
RewriteRule (.*)$ https://msixhero.net/%{REQUEST_URI} [NE,L,R=301]

Options +FollowSymLinks
RewriteEngine On
RewriteRule ^get/?$ http://msixhero.net/ [R=301,L]